#!/bin/bash

# {{ template "common-lib.sh" . }}
# {{ template "asdf-lib.sh" . }}

log_info '[MacOS - 031] Install Python via Asdf.'

ensure_path_entry "{{- .asdf.prefix -}}/bin"

if ! is_asdf_plugin_installed 'python'; then
  log_warning '[MacOS - 031] Asdf Python plugin not installed.'
  log_task '[MacOS - 031] Installing Asdf Python plugin...'

  asdf plugin add python https://github.com/asdf-community/asdf-python
fi

readonly wanted_versions=(
  "3.12.1"
)

for version in "${wanted_versions[@]}"; do
  if ! is_asdf_package_installed 'python' "${version}"; then
    log_warning "[MacOS - 031] Python ${version} not installed."
    log_task "[MacOS - 031] Installing Python ${version}..."
    asdf install 'python' "${version}"
  fi
done

last_index=$((${#wanted_versions[@]} - 1))
last_version=${wanted_versions[${last_index}]}

asdf global 'python' "${last_version}"

log_success '[MacOS - 031] Python installed!'
