#!/bin/bash

# {{ template "common-lib.sh" . }}
# {{ template "asdf-lib.sh" . }}

log_info '[MacOS - 033] Install Nodejs via Asdf.'

ensure_path_entry "{{- .asdf.prefix -}}/bin"

if ! is_asdf_plugin_installed 'nodejs'; then
  log_warning '[MacOS - 033] Asdf Nodejs plugin not installed.'
  log_task '[MacOS - 033] Installing Asdf Nodejs plugin...'

  asdf plugin add nodejs https://github.com/asdf-vm/asdf-nodejs
fi

readonly wanted_versions=(
  "20.10.0"
)

for version in "${wanted_versions[@]}"; do
  if ! is_asdf_package_installed 'nodejs' "${version}"; then
    log_warning "[MacOS - 033] Nodejs ${version} not installed."
    log_task "[MacOS - 033] Installing Nodejs ${version}..."
    asdf install 'nodejs' "${version}"
  fi
done

last_index=$((${#wanted_versions[@]} - 1))
last_version=${wanted_versions[${last_index}]}

asdf global 'nodejs' "${last_version}"

log_success '[MacOS - 033] Nodejs installed!'
