#!/bin/bash

# {{ template "common-lib.sh" . }}
# {{ template "homebrew-lib.sh" . }}

log_info '[MacOS - 012] Install fonts via Homebrew casks.'

ensure_path_entry "{{- .homebrew.prefix -}}/bin"

readonly wanted_fonts=(
  font-fira-code-nerd-font
  font-meslo-lg-nerd-font
)

missing_fonts=()

for font in "${wanted_fonts[@]}"; do
  if ! is_brew_cask_package_installed "${font}"; then
    missing_fonts+=("${font}")
  fi
done

brew tap homebrew/cask-fonts

if [[ ${#missing_fonts[@]} -gt 0 ]]; then
  log_task '[MacOS - 012] Installing missing fonts...'
  brew install --cask --force "${missing_fonts[@]}"
fi

log_success '[MacOS - 012] Fonts installed!'
