#!/bin/bash

# {{ template "common-lib.sh" . }}
# {{ template "homebrew-lib.sh" .}}

log_info '[MacOS - 198] Prune chezmoi binary.'

chezmoi_executable="{{ .chezmoi.executable }}"

# shellcheck disable=SC2154
if [[ "${chezmoi_executable}" != *"${homebrew_prefix}"* ]]; then
  log_info "Chezmoi not installed by Homebrew: ${chezmoi_executable}"
  log_task "Removing this chezmoi..."
  rm -f "${chezmoi_executable}"
fi

log_success '[MacOS - 198] Chezmoi not installed by Homebrew pruned!'
