#!/bin/bash

# {{ template "common-lib.sh" . }}

log_green '👋 [MacOS - 009] Check prerequisites.'

if [ -z "$(command -v brew || true)" ]; then
  log_error '[MacOS - 009] Homebrew not installed!'
  exit 1
fi

if [ -z "$(command -v op || true)" ]; then
  log_error '[MacOS - 009] 1Password not installed!'
  exit 1
fi

eval "$(op signin)"

log_success '[MacOS - 009] All prerequisites checked!'
