#!/bin/bash

# {{ template "common-lib.sh" . }}

log_info '[MacOS - 050] Install Rustup.'

if [ -z "$(command -v rustup || true)" ]; then
  log_task '[MacOS - 050] Installing Rustup...'
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
else
  log_info '[MacOS - 050] Rustup already existed. Updating it...'
  rustup update &>/dev/null
fi

log_success '[MacOS - 050] Rustup installed!'
