#!/bin/bash

# {{ template "common-lib.sh" . }}

log_info '[MacOS - 030] Install Asdf.'

asdf_prefix="{{- .asdf.prefix -}}"

if [ -z "$(command -v asdf || true)" ]; then
  log_task '[MacOS - 030] Installing Asdf...'
  git clone https://github.com/asdf-vm/asdf.git "${asdf_prefix}" --branch v0.13.1
  # shellcheck disable=SC1091
  . "${asdf_prefix}/asdf.sh"
else
  log_info '[MacOS - 030] Asdf already existed. Updating it...'
  asdf update &>/dev/null
fi

log_success '[MacOS - 030] Asdf installed or updated!'
