{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
{{ else }}
.bash_aliases
.config/git/cookies
.ssh/id_rsa
.ssh/id_rsa.pub
.zprofile
.zshrc
{{ end }}
