{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.chezmoitemplates/homebrew-lib.sh
.gnupg
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/*-linux-*.sh.tmpl
.chezmoitemplates/apt-lib.sh
.chezmoitemplates/pipx-lib.sh
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
{{ else }}
.bash_aliases
.config/git/cookies
.ssh/id_rsa
.ssh/id_rsa.pub
.zprofile
.zshrc
{{ end }}
