{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/**macos**
.gnupg
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/**linux**
.ssh/authorized_keys
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
{{ else }}
.bash_aliases
.config/git/cookies
.ssh/id_rsa
.ssh/id_rsa.pub
.zprofile
.zshrc
{{ end }}
