#!/bin/bash

# To run this script, pipx must be installed.

# {{ template "logger.sh" . }}

function is_pipx_package_installed() {
  local package="$1"

  pipx list | grep --quiet "${package}"
}

log_info 'Install pipx packages.'

if [ -z "$(command -v pipx || true)" ]; then
  log_error 'Pipx not installed!'
  exit 1
fi

readonly wanted_packages=(
  commitizen
  pre-commit
)

for package in "${wanted_packages[@]}"; do
  if ! is_pipx_package_installed "${package}"; then
    log_warning "Pipx package ${package} not installed."
    log_task "Installing pipx package ${package}..."

    pipx install "${package}"
  fi
done

log_success 'Pipx packages installed!'
