#!/bin/bash

set -eufo pipefail

{{ $brews := list
  "bash"
  "chezmoi"
  "dockutil"
  "gh"
  "go"
  "node"
  "openjdk"
  "pre-commit"
  "pipx"
  "python"
  "qemu"
  "starship" -}}
{{ $casks := list
  "1password"
  "1password-cli"
  "balenaetcher"
  "battery"
  "chatgpt"
  "font-fira-code-nerd-font"
  "fork"
  "intellij-idea-ce"
  "iterm2"
  "onedrive"
  "microsoft-edge"
  "microsoft-excel"
  "microsoft-powerpoint"
  "microsoft-teams"
  "microsoft-word"
  "notion"
  "notion-calendar"
  "raycast"
  "slack"
  "telegram"
  "utm"
  "vagrant"
  "visual-studio-code"
  "warp"
  "zed" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
