#!/bin/bash

# {{ template "logger.sh" . }}

function is_brew_package_installed() {
  local _package="$1"

  brew list --formula "${_package}" &>/dev/null
}

log_info 'Install Homebrew packages.'

if [ -z "$(command -v brew || true)" ]; then
  log_error 'Homebrew not installed!'
  exit 1
fi

readonly wanted_packages=(
  bat
  coreutils
  curl
  chezmoi
  gh
  git
  gnupg
  hadolint
  jq
  llvm
  neovim
  pinentry-mac
  pipx
  ripgrep
  shellcheck
  shfmt
  wget
  zlib
)

missing_packages=()

for package in "${wanted_packages[@]}"; do
  if ! is_brew_package_installed "${package}"; then
    missing_packages+=("${package}")
  fi
done

if [[ ${#missing_packages[@]} -gt 0 ]]; then
  log_task 'Installing missing packages...'

  brew install --force "${missing_packages[@]}"
fi

log_success 'Homebrew packages installed!'
